@import "bootstrap-icons/font/bootstrap-icons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

/* Reusable styling */

p,
label,
input {
  font-size: 15px !important;
}

.brown {
  background-color: #F8F8F8;
}

div#root {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

/* Login page styling start */
.sc-kcLKEh.gTVTDn {
  height: 100vh;
  place-content: center;
}

.signup-contaier {
  padding: 20px 5px;
  place-content: center;
  height: 100%;
}

.signup-input {
  padding: 10px;
  border-radius: 20px;
}

.signup-input::placeholder {
  font-weight: 700;
  color: #adadad;
}

;

.ant-input-number-input::placeholder {
  font-weight: 700 !important;
  color: #adadad;
}

input#contact::placeholder {
  font-weight: 700 !important;
  color: #adadad;
}

input#age::placeholder {
  font-weight: 700 !important;
  color: #adadad;
}

input#gender::placeholder {
  font-weight: 700 !important;
  color: #adadad;
}

input#password::placeholder {
  font-weight: 700 !important;
  color: #adadad;
}

:where(.css-dev-only-do-not-override-3obk1w).ant-form-item .ant-form-item-label>label.ant-form-item-required::before {
  all: unset;
}

.signup-label {
  font-size: 16px !important;
  color: #151717;
  font-weight: 600;
}

/* home section stylign start here - -- -- -- -- -- */

.messangers {
  display: grid;
  transition: transform 0.4s ease-in-out;
  grid-template-columns: .2fr 1fr;
}

.messangers:hover {
  transform: scale(1.05);
}



img.img-message.img-fluid {
  overflow: hidden;
  position: absolute;
  z-index: 111;
  object-fit: contain;
  aspect-ratio: 1;
  padding: 5px;
  border-radius: 50%;
}

.ms-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  place-self: center;
  background-color: #116AD1;
  color: white;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.ant-modal-close {
  display: none;
}

.user-container-scroll {
  overflow: scroll;
  scrollbar-width: none;
  height: 80vh;

}

.ant-modal-body {
  height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
  margin: auto;
}


.ms-tag {
  color: #424242;
}

.iiii {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

.user-images {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

span.pointer.ms-logo {
  width: 48px;
  position: absolute;
  height: 44px;
  top: 2px;
  left: 54%;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 56px;
  height: 56px;
  object-fit: cover;
  cursor: pointer;
  margin: auto;
}

.online-user-image {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}



.view-btn {
  font-size: 10px;
  padding: 6px;
  font-weight: bolder;
  width: fit-content !important;
}

img.img-fluid.rounded-circle {
  position: absolute;
  aspect-ratio: 1;
  object-fit: contain;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
  margin: 0;
  text-overflow: ellipsis;
}


.user-msg {
  font-size: 12px !important;
}

.cont-1 {
  background-color: #F8F8F8;
}

.brown::placeholder {
  background-color: #F8F8F8;
  width: 100%;
  padding-left: 10px;
  font-weight: 600;
  line-height: normal;
}

/* Chat Sidebar */
.chat-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: left 0.55s ease;
  left: -800px;
  background-color: white;
}

.chat-sidebar.open {
  border: 1px solid rgb(206, 194, 194);
  left: 0 !important;
  width: 60% !important;
  border-radius: 1px 21px 21px 1px;
}

.icon-box {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.img-fluid.user-img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: contain;
}

.position-absolute .top-0 .image {
  right: 0 !important;
}

.msg-scond-prson {
  background-color: #424242;
  color: white;
  border-radius: 20px;
  padding: 7px 20px;
  line-height: normal;
  margin: 0;
  width: fit-content;
}

.msg-user {
  background-color: #116AD1;
  color: white;
  border-radius: 20px;
  padding: 7px 20px;
  line-height: normal;
  width: fit-content;
  margin: 0;
}



.position-relative .send-input {
  width: 95% !important;
}

.send-img {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 12px;
  z-index: 111111;
  top: 20%;
  cursor: pointer;
}

span.col-6.mb-1.right {
  text-align: -webkit-right;
}

.ant-dropdown.css-dev-only-do-not-override-3obk1w.css-var-root.ant-dropdown-css-var.ant-dropdown-placement-bottomLeft {
  width: 12% ;
}

/* home section stylign end here - -- -- -- -- -- */

/* Edit section stylign start here ---------- */

.edit-image {
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.input {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.input:focus {
  outline: none;
  padding: 10px;
}

.input::placeholder {
  color: #888;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;

}

.online {
  color: rgba(88, 187, 84, 1);
  font-size: 8px;
  font-weight: 600;
}

.set-icons {
  position: absolute;
  top: 22%;
  left: 2%;
}


/* USers section styling start */

.grid-container{
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: calc(100vh - 90px);
}
.wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr  1fr ;
gap: 20px;
}


.ant-card-cover {
  place-content: center;
}

.ant-card.ant-card-bordered.ant-card-hoverable.css-dev-only-do-not-override-3obk1w.css-var-root {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}

.img-user{
  aspect-ratio: 1;
  object-fit: contain;
  margin: auto;
  padding: 12px auto;
}

.sent-icon {
  place-self: center;
  position: absolute;
  right: 34px;
}

.bi-gear::before {
  content: "\f3e5";
  font-size: 23px;
  text-align: center;
}



/* USer section styling end here */

/* Notification model styling start*/
span.notifi-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}

.notifi-user-image {
  position: absolute;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

/* Medaia query for mobile responsive */
@media screen and (max-width: 450px) {
  div#root {
    background-color: white;
  }

  img.img-fluid.user-img {
    width: 80% !important;
    height: 50%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .image {
    width: 45px;
    height: 45px;
    margin: 7px;
  }

  .coooot {
    height: 73vh !important;
  }

  .ms-btn {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    place-self: center;
    background-color: #116AD1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
  }

  .brown::placeholder {
    padding-left: 20px;
  }

  .user-images {
    width: 50px;
    height: 50px;
  }

  .chat-section {
    height: 80vh !important;
  }
  .ant-dropdown.css-dev-only-do-not-override-3obk1w.css-var-root.ant-dropdown-css-var.ant-dropdown-placement-bottomLeft {
    width: 43%;
  }
  .input::placeholder {
    font-size: 13px;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 20px;
    }
}

@media (width>=400px) {
  .coooot {
    height: 76vh !important;
  }
}

@media(width>=600px) {
  .chat-section {
    height: 86vh;
  }

  .user-msg {
    font-size: 15px !important;
  }

  .chat-section-input {
    width: 58% !important;
    margin-left: auto;
    position: fixed;
    z-index: 111;
    width: 100%;
    padding: 4px 8px;
    left: 0;
    right: 0;
    bottom: 10px;

  }


}

.coooot {
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

span.time {
  font-size: 10px;
  text-align: end;
  margin-top: 2px;
  line-height: normal;
  font-weight: 700;
}

.chat-section {
  height: 91vh;
}

.chat-section-input {
  width: 100%;
  margin-left: auto;
  position: fixed;
  z-index: 111;
  width: 100%;
  padding: 4px 8px;
  left: 0;
  right: 0;
  bottom: 10px;
}