@import "bootstrap-icons/font/bootstrap-icons.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;

}

/* Reusable styling */

p,
label,
input {
  font-size: 16px !important;
}

.brown {
  background-color: #F8F8F8;
}

.pointer {
  cursor: pointer;
}

/* Login page styling start */
.sc-kcLKEh.gTVTDn {
  height: 100vh;
  place-content: center;
}

/* home section stylign start here - -- -- -- -- -- */

.messangers {
  background-color: #F8F8F8;
  display: flex;
  gap: 12px;
  padding: 5px;
  border-radius: 12px;
}



img.img-message.img-fluid {
  overflow: hidden;
  position: absolute;
  z-index: 111;
  object-fit: contain;
  aspect-ratio: 1;
  padding: 5px;
  border-radius: 50%;
}

.ms-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  place-self: center;
  background-color: #116AD1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-tag {
  color: #424242;
}

.iiii {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}

.image {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}

.online-user-image {
  border: 1px solid gainsboro;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}



.view-btn {
  font-size: 10px;
  padding: 6px;
  font-weight: bolder;
  width: fit-content !important;
}

img.img-fluid.rounded-circle {
  position: absolute;
  aspect-ratio: 1;
  object-fit: cover;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cont-1 {
  background-color: #F8F8F8;
}

.brown::placeholder {
  background-color: #F8F8F8;
  width: 100%;
  padding-left: 120px;
}

/* Chat Sidebar */
.chat-sidebar {
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 350px;
  height: 100vh;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: left 0.55s ease;
  left: -500px;
  background-color: white;
}

/* When Open */
.chat-sidebar.open {
  left: 0 !important;
  width: 100% !important;
}

/* small icon box style */
.icon-box {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.img-fluid.user-img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: contain;
}

.position-absolute .top-0 .image {
  right: 0 !important;
}

.msg-scond-prson {
  background-color: #424242;
  color: white;
  border-radius: 27px;
  padding: 10px 20px;
  line-height: normal;
  margin: 0;
  width: 60%;

}

.msg-user {
  background-color: #116AD1;
  color: white;
  border-radius: 27px;
  padding: 10px 20px;
  line-height: normal;
  width: 60%;
  margin-left: auto;
}

.position-relative .send-input {
  width: 95% !important;
}

.send-img {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 12px;
  z-index: 111111;
  top: 20%;
  cursor: pointer;
}

/* home section stylign end here - -- -- -- -- -- */

/* Edit section stylign start here ---------- */

.edit-image {
  border: 1px solid;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  background-color: white;
}

.input {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.input:focus {
  outline: none;
  padding: 10px;
}

.input::placeholder {
  color: #888;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;

}

.set-icons {
  position: absolute;
  top: 22%;
  left: 2%;
}

/* Medaia query for mobile responsive */
@media screen and (max-width: 600px) {
  div#root {
    height: 100% !important;
    background-color: white;
  }

  img.img-fluid.user-img {
    width: 80% !important;
    height: 50%;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: contain;
  }
}